body {
    background-color: #333;
    font-family: Arial;
}
.app-header{
    width: 90%;
    margin: 0 auto;
    color: #FFFFFF;
}
.title{
    color: #FFFFFF;
    font-size: 24px;
}
.sub-title{
    margin-top: -15px;

    color: #cccac9;
    font-size: 15px;
}


.dashboard-container{
    width: 90%;
    height: 800px;
    margin: 0 auto;
    background-color: red;
}
.container-div{
    float: left;
    margin: 0 auto;
    margin-bottom: 25px;

    text-align: center;
}
.container{
    max-width: 200px;
    padding: 25px;

    background-color: #1f1f1f;
}
.container-title{
    color: #FFF;
    font-size: 16px;
    text-align: left;
}
.container-value{
    font-size: 48px;
    outline: solid;
    outline-offset: 0px;
    margin-top: -5px;

    color: #4dff00;
}
.graph-container{
    width: 500px;
    padding-left: 15px;
    overflow: hidden;
}


